* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bellefair Regular", sans-serif;
  color: white;
}

html {
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 5rem 2rem;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  height: 6rem;
  list-style: none;
  width: 60%;
  padding-left: 2rem;
  background-color: rgba(160, 158, 158, 0.053);
  backdrop-filter: blur(20px);
  gap: 1.5%;
}

.nav-links {
  text-decoration: none;
  color: #fff;
}

.nav-item {
  text-decoration: none;
  height: 6rem;
  display: flex;
  align-items: center;
}

.nav-item:hover,
.nav-item:focus {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  font-family: "Bellefair Regular", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/****************************************************************/
.loader {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.home-container {
  background: url("/src/assets/home/background-home-desktop.jpg") center
    center/cover no-repeat;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text img";
  grid-column-gap: 1rem;
}

.home-welcome {
  grid-area: text;
  display: flex;
  flex-direction: column;
  width: 28.125;
  height: 23.875;
}

.home-welcome h1 {
  font-family: "Bellefair", serif;
  font-weight: normal;
  font-size: 9.4rem;
  padding-bottom: 5rem;
}

.welcome-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
  letter-spacing: 4.72px;
  padding-bottom: 5rem;
}

p {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 1rem;
  letter-spacing: 2.7px;
  width: 40rem;
}

.decorate {
  height: 0.1rem;
  width: 25rem;
  background-color: rgb(62, 63, 63);
  border: none;
  margin-left: 4.5rem;
}

.circle-container {
  grid-area: img;
  justify-self: center;
  align-self: end;
}

.circle {
  height: 17.125rem;
  width: 17.125rem;
  border: none;
  border-radius: 100%;
  background-color: #ffffff;
  color: #0b0d17;
  font-size: 2rem;
  font-family: "Bellefair", serif;
}

/*********************************************/

.destination-container {
  background: url("/src/assets/destination/background-destination-desktop.jpg")
    center center/cover no-repeat;
}
.destination-container,
.crew-container,
.technology-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.destination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img text";
  grid-column-gap: 1rem;
}

.planet-welcome {
  grid-area: img;
  justify-self: center;
}
.planet {
  grid-area: text;
}

.planet-img {
  height: 23rem;
  width: 23rem;
}

.planet ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  height: 2rem;
  list-style: none;
  width: 20rem;
}

.planet button {
  display: flex;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-family: "Bellefair Regular", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.planet li:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.planet-active {
  border-bottom: 4px solid #fff;
}

.planet-name {
  display: flex;
  font-family: Bellefair, serif;
  font-weight: 400;
  font-size: 6.25rem;
  margin-top: 2rem;
}

.planet-disc {
  display: flex;
  width: 39rem;
  height: 12rem;
  padding-bottom: 5.5rem;
  margin-top: 2rem;
}

.planet-info {
  display: flex;
  height: 5rem;
}

.planet-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 2.35px;
}

.planet-dist-time {
  font-family: Bellefair, serif;
  font-size: 1.75rem;
}

.planet-distance,
.planet-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20rem;
}

/*********************************************/

.crew-container {
  background: url("/src/assets/crew/background-crew-desktop.jpg") center
    center/cover no-repeat;
  height: 100vh;
}

.crew {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text img";
  grid-column-gap: 1rem;
}

.crew-text {
  grid-area: text;
  justify-self: center;
}

.crew-welcome h4 {
  font-size: 2rem;
  font-weight: 200;
  color: rgb(255 254 254 / 20%);
}

h3 {
  font-family: Bellefair, serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 2rem;
}

.crew ul {
  display: flex;
  list-style: none;
}

.crew button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  margin-right: 2rem;
  background-color: rgb(255 254 254 / 20%);
  border: black;
}

.crew button:hover {
  background-color: white;
}

.crew-active {
  background-color: white !important;
}

.crew p {
  height: 12rem;
  margin-top: 2rem;
}

.crew-img {
  grid-area: img;
  justify-self: center;
  height: 75%;
  padding-right: 5rem;
}

/*********************************************/

.technology-container {
  background: url("/src/assets/technology/background-technology-desktop.jpg")
    center center/cover no-repeat;
  height: 100vh;
}

.technology {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text img";
  grid-column-gap: 1rem;
}

.technology-description {
  grid-area: text;
}

.technology-img {
  grid-area: img;
  align-self: stretch;
}

.tech_text {
  display: flex;
}

.technology-text {
  padding: 3rem;
}

.technology button {
  height: 7rem;
  width: 7rem;
  border-color: white;
  border-radius: 100%;
  font-size: 2rem;
  font-family: "Bellefair", serif;
  background-color: transparent;
}

.technology li {
  padding-bottom: 2rem;
  list-style: none;
}

.technology button:hover {
  background-color: white;
  color: black;
}

.tech-active {
  background-color: white !important;
  color: black;
}

.technology-text h5 {
  letter-spacing: 3px;
}

.technology-text h3 {
  padding-bottom: 2rem;
}
