* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bellefair Regular", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 2rem 2rem;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  height: 6rem;
  list-style: none;
  width: 60%;
  padding-left: 2rem;
  background-color: rgba(160, 158, 158, 0.053);
  backdrop-filter: blur(20px);
  gap: 1.5%;
}

.nav-links {
  text-decoration: none;
  color: #fff;
}

.nav-item {
  text-decoration: none;
  height: 6rem;
  display: flex;
  align-items: center;
}

.nav-item:hover,
.nav-item:focus {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  font-family: "Bellefair Regular", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/****************************************************************/

.home-container {
  display: flex;
  flex-direction: column;
  background: url("/src/assets/home/background-home-desktop.jpg") center
    center/cover no-repeat;
  height: 100vh;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
}

.home-welcome {
  display: flex;
  flex-direction: column;
  width: 28.125;
  height: 23.875;
}

.home-welcome h1 {
  font-family: "Bellefair", serif;
  font-weight: normal;
  font-size: 9.4rem;
  padding-bottom: 5rem;
}

.welcome-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
  letter-spacing: 4.72px;
  padding-bottom: 3rem;
}

p {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 18px;
  letter-spacing: 2.7px;
  width: 40rem;
}

.decorate {
  height: 0.1rem;
  width: 25rem;
  background-color: rgb(62, 63, 63);
  border: none;
  margin-left: 4.5rem;
}

.circle-container {
  display: flex;
}

.circle {
  height: 17.125rem;
  width: 17.125rem;
  border: none;
  border-radius: 100%;
  background-color: #ffffff;
  color: #0b0d17;
  font-size: 2rem;
  font-family: "Bellefair", serif;
}

/*********************************************/

.destination-container {
  display: flex;
  flex-direction: column;
  background: url("/src/assets/destination/background-destination-desktop.jpg")
    center center/cover no-repeat;
  height: 100vh;
  color: white;
}
.destination {
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: 5rem;
  margin-left: 15rem;
}
.planet-welcome {
  display: flex;
  flex-direction: column;
  margin-right: 20rem;
}
.planet {
  margin-top: 5rem;
  margin-left: 2rem;
}
.planet ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  height: 2rem;
  list-style: none;
  width: 20rem;
}

.planet button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-family: "Bellefair Regular", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.planet li:hover,
.planet li:active {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.planet-name {
  font-family: Bellefair, serif;
  font-weight: 400;
  font-size: 6.25rem;
  margin-top: 2rem;
}

.planet-disc {
  width: 39rem;
  height: 12rem;
  padding-bottom: 5.5rem;
  margin-top: 2rem;
}

.planet-info {
display: flex;
height: 5rem;
}

.planet-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 2.35px;
}

.planet-dist-time {
  font-family: Bellefair, serif;
  font-size: 1.75rem;
}

.planet-distance, .planet-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20rem;
}

/*********************************************/

.crew-container {
  display: flex;
  flex-direction: column;
  background: url("/src/assets/crew/background-crew-desktop.jpg")
    center center/cover no-repeat;
  height: 100vh;
  color: white;
}

.crew {
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: 5rem;
  margin-left: 15rem;
}
.crew-welcome {
  display: flex;
  flex-direction: column;
}

.crew-welcome h4 {
  font-size: 2rem;
  font-weight: 200;
  color: rgb(255 254 254 / 20%);
}

.crew-welcome h3 {
  font-family: Bellefair, serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 2rem;
}

.crew-welcome ul {
  display: flex;
  list-style: none;
}

.crew-welcome button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  margin-right: 2rem;
  background-color: rgb(255 254 254 / 20%);
  border:black;
}

.crew-welcome button:hover,
.crew-welcome button:active {
  background-color: white;
}

.crew-welcome p {
  height: 15rem;
  margin-top: 2rem;
}

.crew-img {
  margin-left: 10rem;
}